# Env
.env
**/.env
**/.env.*

# Node
node_modules/
dist/
build/
*.log

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# Service management scripts 
start-all-services.sh
stop-all-services.sh
